<mat-list dense *ngIf="mealPlans | async as result else loading">
  <mat-list-item *ngFor="let mealPlan of result; last as last">
    <a class="mealplan-title" [routerLink]="['/meal-plans', mealPlan.id]">
      <strong><span>{{mealPlan.name}}</span></strong>
      <em>{{mealPlan.cost | currency:'USD'}}</em>
    </a>
    <!-- <div matLine class="recipe-subtitle">
      <span>{{recipe.cookbook}} ({{recipe.pageNumber}})</span>
    </div> -->
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
<ng-template #loading>
  <div class="loading-small">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

