.mealplan-title {
    display:flex !important;
    width:100%;
    height:100%;
    justify-content:space-between;
    align-items:center;
    padding-right:.5rem !important;
    white-space: normal !important;
}
mat-list-item {
    padding: 0;
	&:hover {
		// color:theme(link-secondary);
		background:rgba(0,0,0,.04);

	}
	&:focus {
		background:rgba(0,0,0,.04);
    }
}


