:host {
    display:block;
}
mat-card-title {
    display:flex;
    align-items:center;
    flex:1;
    & span {
        flex:2;
    }
}
.mat-expansion-panel {
  margin-bottom: 1rem;
}
mat-chip {
  color:#fff !important;
  padding:8px;
  margin-left:2rem;
  &.E{
    background: rgba(42,179,75,1);
  }
  &.K{
    background: rgba(0,89,181,1);
  }
}

.grocery-item {
    display:flex;
    flex:1;
    align-items:center;

}
mat-list-option {
    flex:1;
}


.grocery-selected {
    // color: rgba(0,0,0,0.6);
    opacity:0.4;
}