<mat-expansion-panel class="grocery-list-card" [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{category}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list dense #selectionList (selectionChange)="expanded = selectionList.selectedOptions.selected.length !== groceries.length">
    <ng-container *ngFor="let grocery of groceries; last as last">
      <div class="grocery-item">
        <mat-list-option [disableRipple]="true" [selected]="grocery.selected" (click)="select($event, grocery)">
          <span [class.grocery-selected]="grocery.selected">
              <span *ngIf="grocery.count > 0">{{grocery.count}}&nbsp;</span>
              <span *ngIf="grocery.weight > 0">{{grocery.weight | number : '1.0-2'}}{{grocery.unit}}&nbsp;</span>
              <span>{{grocery.name}}</span>
            <mat-chip [ngClass]="grocery.supermarket" *ngIf="grocery.supermarket">
              <ng-container *ngIf="!isMobile">{{grocery.supermarketName}}</ng-container>
              <ng-container *ngIf="isMobile">{{grocery.supermarket}}</ng-container>
            </mat-chip>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  
          </span>
       </mat-list-option>
      </div> 
    </ng-container>
  </mat-selection-list>
</mat-expansion-panel>

